
    div {
        width: 250px;
        padding: 10px;
        background-color: #fff;
        font-family: Arial, sans-serif;
        text-align: center;
    }
    
    img {
        width: 100%;
        border-radius: 8px;
    }
    
    span{
        font-size: 16px;
        font-weight: bold;
        color: #333;
        display: block;
        margin-top: 8px;
    }
    
    .price {
        font-size: 18px;
        color: #ef8137;
        font-weight: bold;
        display: block;
        margin-top: 5px;
    }
    
  
    
